.keyword {
    color: blue;
    font-weight: bold;
}
.string {
    color: green;
}
.comment {
    color: gray;
}
.number {
    color: blue;
}
.py_class{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.content-line {
    white-space:pre;
}

div {
    /*outline: none;*/  /* comment for a while to see which element in focus*/
}

.cursor {
    /*animation: 1s blink step-end infinite;*/
    background: #ff7b80;
}
#to-remove {
    -moz-user-select: none;
}

/*@keyframes "blink" {*/
  /*from, to {*/
      /*background: #ff7b80;*/

  /*}*/
  /*50% {*/
    /*background: transparent;*/
  /*}*/
/*}*/


.autocomplete {
    background: yellow;
    position: fixed;
    z-index: 1;
}

#active-autocomplete {
    background: red;
    color: black;
}
















html {
    margin: 0;
    padding: 0;
}
body {
     /*TODO research it*/
    font-family: "DejaVu Sans Mono";
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}

#tags {
    display: inline-block;
    width: 15%;
    border: none;
    height: 100vh;
    float: left;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space:nowrap;
}

#lines {
    display: inline-block;
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: scroll;
}

#line-number{
    display: inline-block;
    width: 4ch;
    vertical-align: top;
}

#code {
    display: inline-block;
    width: 95%;
    height: 100vh;
}

#filelisting {
    display: inline-block;
    flex-direction: column;
    width: 15%;
    height: 100vh;
    float: right;
    overflow-y: scroll;
    overflow-x: scroll;
    white-space:nowrap;
}



#code div:nth-child(even) {
    background: #f9fbff;
}
#code div:nth-child(odd) {
    background: #f0ffef
}

#line-number div:nth-child(even) {
    background: #f9fbff;
}
#line-number div:nth-child(odd) {
    background: #f0ffef
}

.triange-img{
    margin: 0;
    border: 0;
    padding: 0;
    height: 19px;
    width: 19px;
    transform: rotate(90deg);
}

.folderlink {
}
.filelink > a {
    text-decoration: none;
}

[class^="padding_"]{
    white-space:pre;
}

a {color:#0000FF;}      /* unvisited link */
a:visited {color:#0000FF;}  /* visited link */
a:hover {color:#0000FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

