/*.empty {*/
    /*height: 13px;*/
/*}*/
.keyword {
    color: blue;
    font-weight: bold;
}
.string {
    color: green;
}
.comment {
    color: gray;
}
.number {
    color: blue;
}
.py_class{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}
.content-line {
    white-space:pre;
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
body {
     /*TODO research it*/
    font-family: "DejaVu Sans Mono";
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

div {
    /*outline: none;*/
}

.cursor {
    animation: 1s blink step-end infinite;
}
#to-remove {
    -moz-user-select: none;
}

@keyframes "blink" {
  from, to {
      background: #ff7b80;

  }
  50% {
    background: transparent;
  }
}


.autocomplete {
    background: yellow;
    /*top: 0;*/
    /*left: 0;*/
    position: fixed;
    z-index: 1;
}

#active-autocomplete {
    background: red;
    color: black;
}
#tags {
    display: inline-block;
    height: 100%;
    width: 300px;
    bottom: 0;
    position: fixed;
    left: 0;
    border: groove;
    overflow-y: scroll;
    overflow-x: scroll;
    border-top: none;
    border-bottom: none;
}

#code {
    display: inline-block;
    height: 100%;
    width: 1300px;
    bottom: 0;
    position: fixed;
    border: groove;
    left: 306px;
    overflow-y: scroll;
    overflow-x: scroll;
    border-top: none;
    border-bottom: none;
}
#filelisting {
    display: inline-block;
    position: fixed;
    bottom: 0;
    right: 0;
    border: groove;
    width: 300px;
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    border-top: none;
    border-bottom: none;
}
#code div:nth-child(even) {
    background: #f9fbff;
}
#code div:nth-child(odd) {
    background: #f0ffef
}

.triange-img{
    margin: 0;
    border: 0;
    padding: 0;
    height: 19px;
    width: 19px;
    transform: rotate(90deg);
}

.folderlink {
}
.filelink > a {
    text-decoration: none;
}

[class^="padding_"]{
    white-space:pre;
}

a {color:#0000FF;}      /* unvisited link */
a:visited {color:#0000FF;}  /* visited link */
a:hover {color:#0000FF;}  /* mouse over link */
a:active {color:#0000FF;}  /* selected link */

